In [2]:
import pandas as pd

In [7]:
df = pd.read_csv('./Lesson/data/dulieuxettuyendaihoc.csv')
df.head()

    MSSV GT  DT   KV    M1    M2    M3  KT    NGAYTHI DINHHUONGNGHENGHIEP
0  SV001  F NaN  2NT  3.25  3.25  4.50  A1  12/7/2018                  No
1  SV002  M NaN    1  6.00  4.00  3.50   C  12/7/2018                 Yes
2  SV003  M NaN    1  5.00  6.75  4.00   C  12/7/2018                  No
3  SV004  M NaN    1  4.25  4.25  5.25  D1  12/7/2018                  No
4  SV005  M NaN  2NT  4.25  4.50  5.00   A  12/7/2018                  No

In [11]:
df.rename(columns={'NGAYTHI': 'NT', 'DINHHUONGNGHENGHIEP': 'NGHE'}, inplace=True)
df.head()

    MSSV GT  DT   KV    M1    M2    M3  KT         NT NGHE
0  SV001  F NaN  2NT  3.25  3.25  4.50  A1  12/7/2018   No
1  SV002  M NaN    1  6.00  4.00  3.50   C  12/7/2018  Yes
2  SV003  M NaN    1  5.00  6.75  4.00   C  12/7/2018   No
3  SV004  M NaN    1  4.25  4.25  5.25  D1  12/7/2018   No
4  SV005  M NaN  2NT  4.25  4.50  5.00   A  12/7/2018   No

In [13]:
dfKhoiC = df[df['KT'] == 'C']
dfKhoiC.head()

      MSSV GT  DT   KV    M1    M2    M3 KT         NT NGHE
1    SV002  M NaN    1  6.00  4.00  3.50  C  12/7/2018  Yes
2    SV003  M NaN    1  5.00  6.75  4.00  C  12/7/2018   No
6    SV007  F NaN    2  6.50  6.75  5.25  C  12/7/2018  Yes
22  SV0023  F NaN    2  5.00  3.50  6.00  C  6/13/2019   No
23  SV0024  M NaN  2NT  6.75  5.25  5.00  C  6/13/2019   No

In [14]:
dfKhoiC.describe()

        DT         M1         M2         M3
count  0.0  14.000000  14.000000  14.000000
mean   NaN   5.660714   4.232143   4.821429
std    NaN   0.812209   1.947544   0.873920
min    NaN   4.750000   1.500000   3.500000
25%    NaN   5.062500   2.750000   4.062500
50%    NaN   5.250000   3.875000   4.875000
75%    NaN   6.375000   5.187500   5.437500
max    NaN   7.000000   8.000000   6.250000

In [15]:
import scipy.stats as stats

In [16]:
stats.ttest_1samp(dfKhoiC['M1'], popmean=4.0)

Ttest_1sampResult(statistic=7.650519779016341, pvalue=3.6339826927369557e-06)

In [ ]:
# Bài tập: Sinh viên kiểm tra xem điểm trung bình của môn thi M2 của khối thi C có bằng 5.7 hay không
stats.ttest_1samp(dfKhoiC['M2'], popmean=5.7)
s, p = stats.ttest_1samp(dfKhoiC['M2'], popmean=5.7)
if p > 0.05:
    print(f'Chap nhan => Khong phu thuoc: {p}')
else:
    print('Khong chap nhan => Phu thuoc: ', p)
# Bài tập: Sinh viên về tự tìm hiểu cách thiết lập mức tin cậy hoặc sai lầm
# Bài tập: Hãy kiểm tra xem có phải điểm trung bình M3
# của thí sinh thi khối C có là 6.5 hay không
# với mức sai lầm là 10%

alpha = 0.1
s, p = stats.ttest_1samp(dfKhoiC['M3'], popmean=6.5)
if p > alpha: 
    print('Chap nhan => Khong phu thuoc: ', p)
else: 
    print('Khong chap nhan, bac bo => Phu thuoc: ', p)

Khong chap nhan => Phu thuoc:  0.0144629751431775
Khong chap nhan => Phu thuoc:  7.084381773314355e-06

In [29]:
from statsmodels.stats.weightstats import ztest as ztest
ztest(df['M1'], value=8.0)

(-29.907152266677993, 1.588509177330612e-196)

In [30]:
s, p = ztest(dfKhoiC['M3'], value=6.5)
print(f'{p}')

6.635495146040845e-13

In [31]:
#Bài tập: Hãy kiểm tra xem trung bình M2 có bằng 6.7
s, p = ztest(df['M2'], value=6.7)
if p < 0.05:
    print(f'Bac bo gia thiet, {p}')
else: 
    print(f'Chap nhan gia thiet, {p}')

Bac bo gia thiet, 1.0428701078797563e-117

In [33]:
dfKhoiC = df.loc[df['KT'] == 'C']
stats.ttest_ind(dfKhoiC['M1'], dfKhoiC['M2'], equal_var=True)

Ttest_indResult(statistic=2.5331368604654054, pvalue=0.017676922552296807)

In [35]:
# Bài tập: 
# Suy diễn xem trung bình M1 có bằng trung bình M3 cho
# thí sinh thi khối C hay không với mức tin cậy 95%
s, p = stats.ttest_ind(dfKhoiC['M1'], dfKhoiC['M3'], equal_var=True)
if p < 0.05:
    print(f'Bac bo gia thuyet, diem trung binh M1 khong bang M3, p-value: {p}')
else:
    print(f'Chap nhan gia thuyet, diem trung binh M1 bang M3, p-value: {p}')

Bac bo gia thuyet, diem trung binh M1 khong bang M3, p-value: 0.014085909192033959

In [45]:
print(ztest(df['M1'], df['M2'], value=0))
print(stats.ttest_ind(df['M1'], df['M2']).pvalue)

(-2.9004757923795, 0.0037259661678783573)
0.004147149868864263

In [53]:
# Bài tập: Kiểm tra trung bình M2 và M3 có bằng nhau không
# với mức tin cậy 95%
s, p = ztest(df['M2'], df['M3'], value=0)
# s, p = stats.ttest_ind(df['M2'], df['M3'])
if p < 0.05:
    print(f'Bac bo gia thuyet, diem trung binh M2 khong bang M3, p-value: {p}')
else:
    print(f'Chap nhan gia thuyet, diem trung binh M2 bang M3, p-value: {p}')

Bac bo gia thuyet, diem trung binh M2 khong bang M3, p-value: 3.009250404643791e-05

In [54]:
from scipy.stats.stats import pearsonr

pearsonr(df['M1'], df['M2'])

(0.035154057257850264, 0.7284198928723655)

In [58]:
# Bài tập: Sinh viên làm tương tự cho M1 và M3 có tương quan hay không?
r, p_value = stats.pearsonr(df['M1'], df['M3'])
if p_value < 0.05:
    print(f"Có mối tương quan có ý nghĩa giữa M1 và M3, P-value: {p_value}")
else:
    print(f"Không có mối tương quan có ý nghĩa giữa M1 và M3, P-value: {p_value}")

Không có mối tương quan có ý nghĩa giữa M1 và M3, P-value: 0.853253434705495